kort/WindowsClient/Service References/CardServer/MembershipCard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Alert" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Alert" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52355/MembershipCard.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" />
  <xs:import schemaLocation="http://localhost:52355/MembershipCard.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfVisitTimeAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisitTimeAlert" nillable="true" type="tns:VisitTimeAlert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitTimeAlert" nillable="true" type="tns:ArrayOfVisitTimeAlert" />
  <xs:complexType name="VisitTimeAlert">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="Member" nillable="true" type="q1:Member" />
      <xs:element minOccurs="0" name="TimeFromLatestVisitBeforeAlert" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitTimeAlert" nillable="true" type="tns:VisitTimeAlert" />
</xs:schema>