kort/WindowsClient/Service References/CardServer/MembershipCard3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52355/MembershipCard.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" />
  <xs:import schemaLocation="http://localhost:52355/MembershipCard.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Alert" />
  <xs:element name="GetMembersByCardId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersByCardIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="GetMembersByCardIdResult" nillable="true" type="q1:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersByNickName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersByNickNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="GetMembersByNickNameResult" nillable="true" type="q2:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersToAlert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersToAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="GetMembersToAlertResult" nillable="true" type="q3:ArrayOfMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="member" nillable="true" type="q4:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="InsertMemberResult" nillable="true" type="q5:InsertResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="member" nillable="true" type="q6:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="member" nillable="true" type="q7:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsOnMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsOnMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Alert" minOccurs="0" name="GetAlertsOnMemberResult" nillable="true" type="q8:ArrayOfVisitTimeAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Alert" minOccurs="0" name="alert" nillable="true" type="q9:VisitTimeAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="InsertAlertResult" nillable="true" type="q10:InsertResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Alert" minOccurs="0" name="alert" nillable="true" type="q11:VisitTimeAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesOnMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesOnMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="GetServicesOnMemberResult" nillable="true" type="q12:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="service" nillable="true" type="q13:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="InsertServiceResult" nillable="true" type="q14:InsertResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="service" nillable="true" type="q15:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="service" nillable="true" type="q16:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitsOnMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitsOnMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="GetVisitsOnMemberResult" nillable="true" type="q17:ArrayOfVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="visit" nillable="true" type="q18:Visit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" minOccurs="0" name="InsertVisitResult" nillable="true" type="q19:InsertResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>