kort/ClientLogic/Connected Services/CardServer/MembershipCard4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Part" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Part" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceUse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceUse" nillable="true" type="tns:ServiceUse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceUse" nillable="true" type="tns:ArrayOfServiceUse" />
  <xs:complexType name="ServiceUse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UsedTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUse" nillable="true" type="tns:ServiceUse" />
</xs:schema>