kort/ClientLogic/Connected Services/CardServer/MembershipCard1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52355/MembershipCard.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Part" />
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="InsertResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertResult" nillable="true" type="tns:InsertResult" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxServiceUses" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WindowsServer.DataContract.Part" minOccurs="0" name="ServiceUses" nillable="true" type="q1:ArrayOfServiceUse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfVisit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visit" nillable="true" type="tns:Visit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisit" nillable="true" type="tns:ArrayOfVisit" />
  <xs:complexType name="Visit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visit" nillable="true" type="tns:Visit" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
</xs:schema>